.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: red; /* Change this to your preferred color */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}
